#product{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2% 8%;
    box-sizing: border-box;
}
.product-image-main{
    width: 40%;
    padding-right: 8%;
    box-sizing: border-box;
    align-self: flex-start;
}

.product-image-big{
    width: 100%;
    box-sizing: border-box;
}

.product-details-description{
    align-self: flex-start;
    width: 60%;
    box-sizing: border-box;
    z-index: 5;
}

.product-title{
    font-size: 48px;
    font-weight: 500;
    margin: 0;
}

.product-brands{
    font-weight: 600;
    color: black;
    opacity: 0.6;
    margin: 0;
    margin-top: 8px;
}

.product-description,
.product-preview,
.product-price{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 36px;
    font-weight: 400;
    margin-bottom: 16px;
}

.product-price:first-of-type{
    margin-bottom: 0;
}

.product-price span{
    max-width: 500px;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 600;
    color: #009688;
    margin: 0;
    display: inline-block;
}

.product-description-para{
    max-width: 500px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}


.add-to-cart {
    background-color: #009688;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 18px 36px;
    border-radius: 6px;
    margin-top: 36px;
    font-weight: 600;
    color: white;
    transition: transform 200ms;
}

.product-images-preview{
    display: flex;
}


.product-images-preview > img:first-of-type {
    margin-left: 0;
}

.product-images-preview > img {
    width: 50px;
    border-radius: 6px;
    margin: 0 8px;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
    /* border: 2px solid gray; */
}
.active-image {
    box-sizing: content-box;
    border: 2px solid #009688;
}


@media(max-width:1300px){
    #product {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2% 4%;
        box-sizing: border-box;
    }
}


@media (max-width: 1300px){
    #product {
        padding: 20px;
        flex-direction: column-reverse;
    }

    .product-details-description {
        width: 100%;
    }

    .product-title {
        font-size: 28px;
    }

    .product-brands {
        font-size: 26px;
    }

    .product-description, .product-preview, .product-price {
        font-size: 16px;
    }

    .product-price span {
        font-size: 18px;
    }

    .product-description-para {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 1.2;
    }

    .product-images-preview {
        display: flex;
        flex-wrap: wrap;
    }

    .add-to-cart {
        font-size: 12px;
        padding: 8px 26px;
        border-radius: 6px;
        margin-top: 26px;
    }


    .product-image-main {
        width: 100%;
        padding-right: 8px;
        margin-top: 20px;
        margin-bottom: 8px;
        box-sizing: border-box;
        align-self: flex-start;
    }
}


